<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <div class="ui facebook button">
      <i class="facebook icon"></i>
      <a href="api/v1/facebook/auth" style="color: white;">Login with Facebook</a>
    </div>
  </div>
</div>